.left{
  background-color: #4a90e2;
  height: 100vh;
  width: 33.3%;
  float: left;
  display: inline-block;
}

.middle {
  background-color: #50e3c2;
  height: 100vh;
  width: 33.4%;
  display: inline-block;
}
.right {
  background-color: #b8e986;
  height: 100vh;
  width: 33.3%;
  float: right;
  display: inline-block;
  position: relative;
}
.little-square{
background-color: red;
height: 250px;
width: 100%;
position: absolute;
bottom: 0;
right: 0;
color: white;
text-align: center;
}
.image-place{
  margin-top: 110px;
}
